<div class="container">
	<div class="row">
		<main class="col-md-12">
			<!-- Start your code here -->
			<article>
				<header>
					<h2>Welcome to About Page of my site!</h2>
				</header>
				<hr>
				<div>
					<header>
						<h4>About Me</h4>
					</header>
					<p>My name is <strong>Chester Gil Balbuena</strong>. My student id is <em>cbalbuena</em>. I am currently enrolled in the <em>Business Information Technology program.</em></p>
			
				</div>
			</article>
			<!-- End your code here  -->
		</main>
	</div>
</div>

