<div class="container">
	<div class="row">
		<main class="col-md-12">
			<!-- Start your code here -->
			<article>
				<header>
					<h1>Welcome to my website!</h1>
					<h1>I will be demonstrating HTML5 principles and techniques, Routing in Express</h1>
				</header>
				<hr>
				<div>
					<header>
						<h4>What to expect</h4>
					</header>
					<p>	This site consists of 3 static views:
					<a class="nav-link" href="/">Home</a>
					<a class="nav-link" href="/about">About</a> 
					<a class="nav-link" href="/htmlDemo">HTML Demo</a> 
					</p>
					<p> This site also  offers route links:
					<a class="nav-link" href="/students">Students</a>
					<a class="nav-link" href="/student/2">Sample Students</a>
					<a class="nav-link" href="/students?course=6">Sample Students by Course</a>
					<a class="nav-link" href="/tas">Teaching Assistants</a>
					<a class="nav-link" href="/courses">Courses</a>
					</p>
				</div>
				<hr>
				<div>
					<header>
						<h4>Introduction to HTML5</h4>
					</header>
					<p>	This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web</p>
				</div>
			</article>
			<!-- End your code here  -->
		</main>
	</div>
</div>
