<div class="container">
	<div class="row">
		<main class="col-md-12">
			<!-- Start your code here -->
			<section>
						<h2>Tables</h2>
						
						<table border="1">
							<p>Hokage Details<p>
							<thead>
							  <tr>
								<th>Hokage ID</th>
								<th> Name</th>
								<th>Position</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td> 1</td>
								<td> Hashirama Senju</td>
								<td> The First Hokage</td>
							  </tr>
							  <tr>
								<td>2</td>
								<td>Tobirama Senju </td>
								<td>The Second Hokage</td>
							  </tr>
							  <tr>
								<td>4</td>
								<td>Minato Namikaze</td>
								<td>The Fourth Hokage</td>
							  </tr>
							</tbody>
							
					
						  </table>

						<p>This table lists the details of the first three Hokages of the Hidden Leaf Village in the Naruto series. It includes their employee ID, name, and position.</p>
						</section>

						<!-- LISTS SECTION -->

						<section>
						<h2>Lists</h2>

						<ul>
							<li>Fruits
							<ul>
								<li>Apple</li>
								<li>Banana</li>
								<li>Cherry</li>
							</ul>
							</li>
							<li>Vegetables
							<ul>
								<li>Carrot</li>
								<li>Broccoli</li>
								<li>Spinach</li>
							</ul>
							</li>
							<li>Dairy
							<ul>
								<li>Milk</li>
								<li>Cheese</li>
								<li>Butter</li>
							</ul>
							</li>
						</ul>

						<p>This section shows an unordered list of grocery categories, with each category containing an unordered list of items within that category.</p>
						</section>

						<!-- IMAGES SECTION -->

						<section>
						<h2>Images</h2>

						<img src="https://w0.peakpx.com/wallpaper/971/514/HD-wallpaper-senju-hashirama-anime-naruto-thumbnail.jpg" style="width:300px;height:500px;" alt="Placeholder Image 1">
						<img src="https://w0.peakpx.com/wallpaper/522/700/HD-wallpaper-tobirama-senju-thumbnail.jpg" style="width:300px;height:500px;" alt="Placeholder Image 2">
						<img src="https://cutewallpaper.org/22/4th-hokage-wallpapers/the-hokage-of-4th-generation-aka-yondaime-aka-minato-aka-narutos-father-aka-you-dont-say-wallpaper-naruto-shippuden-naruto-art-anime-naruto.png" style = "width:300px;height:500px;">

						<p>TThis section contains images of three of the Hokages from the Hidden Leaf Village in the Naruto series. The first image is of Hashirama Senju, the First Hokage. The second image is of his brother Tobirama Senju, the Second Hokage. The third image is of Minato Namikaze, the Fourth Hokage and Naruto Uzumaki's father.</p>
						</section>

						<!-- AUDIO SECTION -->

						<section>
						<h2>Audio</h2>

						<audio controls>
							<source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mpeg">
							Your browser does not support the audio element.
						</audio>

						<p>This section has an HTML5 audio player that plays a sample MP3 audio file. The audio file is hosted externally and loaded into the player using the source element.</p>
						</section>

						<!-- VIDEO SECTION -->

						<section>
						<h2>Video</h2>

						<iframe width="560" height="315" src="https://www.youtube.com/embed/zVgKnfN9i34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						<p>This section contains an embedded YouTube video showcasing the 16th opening song of Naruto Shippuden

			<!-- End your code here  -->
		</main>
	</div>
</div>
